body{
	background-size: cover;
	background-image:url(https://iyanovich.files.wordpress.com/2010/04/blank.jpg);
}
table{
	border:5px ridge black;
	width:60%;
	border-collapse:collapse;
	text-align: center;
	margin: 0 auto;
}
table td {
	padding:15px;
	border: 1px solid black;
	background-color:White;
}
table td:hover:not(.active) {
    border-bottom:5px solid #FBFF00
}
h1 {
	text-align: center;
	margin-top:15px;
	Font-family:Arial Black;	
}
div.icono{
	float:left;
}
p {
	font-weight:bold;
}
div.H1 {
	Font-family:Times New Roman;
}
caption {
	font-size:40px;
}

	

.desc{
	width:40%;
	margin: 0 Auto;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    display: none;
	border: 3px solid black;
	padding: 20px 20px;
	box-shadow: 0px 0px 20px;
	animation: infinite resplandorAnimation 2s;
	background-color:#DBC9FF;
  
}
@keyframes resplandorAnimation {
  0%,100%{
    box-shadow: 0px 0px 50px #ffc000;
  }
  50%{
  box-shadow: 0px 0px 0px;
  
  }

}

div.BIT { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -317.5px -25px;
}
div.BS { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -412.5px -25px;
}
div.AU { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -220.5px -25px;
}
div.AR { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -125px -25px;
}
div.DASH { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -702px -25px;
}
div.RIP { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -30px -410px;
}
div.LIT { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -605px -217.5px;
}
div.ET { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -605px -120.5px;
}
div.ZC { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -317.5px -505px;
}
div.ST { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -317.5px -410px;
}
div.SIA { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -125px -410px;
}
div.KM { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -510px -217.5px;
}
div.NEM { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -412.5px -314px;
}
div.NAV { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -317.5px -314.5px;
}
div.MR { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -220.5px -314.5px;
}
div.PC { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -605px -314.5px;
}
div.MS { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -30px -314.5px;
}
div.SI { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -510px -410px;
}
div.TT { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -702px -410px;
}
div.VC { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -125px -505px;
}
div.FT { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -702px -120.5px;
}
div.GL { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -220.5px -217.5px;
}
div.ETC { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -510px -120.5px;
}
div.DC { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -25px -120.5px;
}
div.CP { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -605px -25px;
}
div.PO { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -702px -314px;
}
div.GU { 	
	width: 70px;
  	height: 65px;
   	background: url(../imagenes/Pcripto.png) -317.5px -217.5px;
}
.navbar {
    overflow: hidden;
    font-family: Times New Roman;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #72CE65;
	color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.8);
    border-radius: 10px;	
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #D4AF37;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #72CE65;
	color:black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
nav ul {
    margin: 0 auto;
    overflow: auto;	
    background-color:#2E272E;	
    padding-bottom: 15px;
	border:7px double #D4AF37;
	border-radius:5px;
	
}

nav li {
    float: left;
    overflow: auto;
    margin-right:11%;
    padding: 5px;
	
} 

nav a {
    display: block;
    padding: 4px;
    text-decoration: none;
    font-size: 15px;
    color: #D4AF37;
    border: 1px solid #D4AF37;
	border-radius: 5px;	
	background-color: #2E272E;
}

nav a:hover {
    background:#72CE65;
    color: rgb(61, 102, 126);
}


/*Redes sociales:*/
.social {
    position: fixed; 
    right: 20px; 
    bottom: 0; 
    z-index: 2000; 
}
.social ul {
        list-style: none;
}

.social ul li a {
        display: inline-block;
        color:#fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        transition:all 500ms ease; 
}

.social ul li .icon-facebook {
	background:#3b5998;
	width: 55px;	
} 

.social ul li .icon-twitter {
	background: #00abf0;
	width: 55px;
}
.social ul li .icon-googleplus {
	background: #d95232;
	width: 55px;
}

.social ul li .icon-pinterest {
	background: #ae181f;
	width: 55px;
}

.social ul li a:hover {
        background: #000; 
        padding: 10px 30px; 
}
.active {
    background-color: #D4AF37;
    color: #000;
}




	


