body{
	background-size: cover;
	background-image:url(https://iyanovich.files.wordpress.com/2010/04/blank.jpg);
}
h1 {
    font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
}
main {
    text-align: justify;
    width: 93%;
}
iframe {
   margin-left: 25%;
   width: 40vw;
   height:50vh;
}

img{
    width: 40%;
    height: auto;
    margin-left: 25%;
}
p img{
    float: left;
    margin-left: 0;
    margin: 1%;
    height:18%;
}
.navbar {
    overflow: hidden;
    font-family: Times New Roman;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #72CE65;
	color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.8);
    border-radius: 10px;	
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #D4AF37;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #72CE65;
	color:black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
nav ul {
    margin: 0 auto;
    overflow: auto;	
    background-color:#2E272E;	
    padding-bottom: 15px;
	border:7px double #D4AF37;
	border-radius:5px;
	
}

nav li {
    float: left;
    overflow: auto;
    margin-right:11%;
    padding: 5px;
	
} 

nav a {
    display: block;
    padding: 4px;
    text-decoration: none;
    font-size: 15px;
    color: #D4AF37;
    border: 1px solid #D4AF37;
	border-radius: 5px;	
	background-color: #2E272E;
}

nav a:hover {
    background:#72CE65;
    color: rgb(61, 102, 126);
}


/*Redes sociales:*/
.social {
    position: fixed; 
    right: 0.5%; 
    bottom: 0; 
    z-index: 2000; 
}

.social ul {
        list-style: none;
}

.social ul li a {
        display: inline-block;
        color:#fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        transition:all 500ms ease; 
}


.social ul li .icon-facebook {
	background:#3b5998;
	width: 55px;	
} 

.social ul li .icon-twitter {
	background: #00abf0;
	width: 55px;
}
.social ul li .icon-googleplus {
	background: #d95232;
	width: 55px;
}

.social ul li .icon-pinterest {
	background: #ae181f;
	width: 55px;
}

.social ul li a:hover {
        background: #000; 
        padding: 10px 30px; 
}
.active {
    background-color: rgb(38, 0, 255);
    color: #000;
}